/* 
    Document   : nlp
    Created on : Feb 5, 2013, 11:03:03 AM
    Author     : federico[DOT]boschetti[DOT]73[AT]gmail[DOT]com
    Description:
        Purpose of the stylesheet follows.
*/

.nlp100{
    color: black;
}

.nlp099{
    color: blue;
}

.nlp098{
    color: brown;
}

.nlp097{
    color: red;
}
.nlp096{
    color: red;
}
.nlp095{
    color: red;
}
.nlp094{
    color: red;
}
.nlp093{
    color: red;
}
.nlp092{
    color: red;
}
.nlp091{
    color: red;
}
.nlp090{
    color: red;
}
.nlp070{
    color: green;
}
.nlp010{
    color: gray;
}
